doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
  body 
    .wrapper 
      block content 

// Steps
// 1. Add html doctype
// 8. Add div.wrapper
// 9. Add block content 
