doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Add page css link
    link(rel="stylesheet", href="css/login.css")
    link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")

    title Login
  body

    //- Add div.wrapper 
    .wrapper 
      //- Add block content
      block content

    //- Add CDN Scripts
    script(src="/js/bootstrap.js")

