extends layouts/login-layout.pug 
block content 
  .loginContainer 
    h1 Login 
    form(method="post")
      input(type="text", name="logUsername", placeholder="Username or Email", required="", autofocus) 
      input(type="password", name="logPassword", placeholder="Password", required="")
      input(type="submit", value="Login")
    a(href="/register") Need and account? Register here.
  
  // Steps
  // 1. extend login_layout
  // 2. Add block content
  // 3. Add div.loginContainter 
  // 4. Add container content
