@import url('/css/fontawesome.min.css');

/* Create css variables */
:root {
  --blue: #1fa2f1;
  --backgroundColorBG: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
}

h1 {
  font-size: 19px;
  font-weight: 600;
  margin: 0px;
}

/* nav links */
a {
  color: inherit;
}

a:hover {
  color: inherit;
}

/*  nav container */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

/*  nav links positioning  */
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  color: #212529;
}

nav a.logo {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--backgroundColorBG);
  color: var(--blue);
  border-radius: 50%;
}

.mainSectionContainer {
  padding: 0px;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  /* for safari - address edge casing */
  flex-shrink: 0;
}

.titleContainer {
  /* flex: 1; */
}
