/* Create css variables */
:root {
  --blue: #1fa2f1;
  --blueLight: #9bd1f9;
  --backgroundColorBG: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
}

h1 {
  font-size: 19px;
  font-weight: 600;
  margin: 0px;
}

/* document nav links */

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

/*  nav container */

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

/*  nav links container styling  */

/* nav container positioning and sizing */
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  color: #212529;
}

nav a.logo {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--backgroundColorBG);
  color: var(--blue);
  border-radius: 50%;
}

.mainSectionContainer {
  padding: 0px;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  /* for safari - address edge casing */
  flex-shrink: 0;
}

.titleContainer {
  /* flex: 1; */
}

/* Styling the post form container */

/* Style the container */
.postFormContainer {
  padding: var(--spacing);
  display: flex;
  border-bottom: 10px solid rgb(230, 236, 240);
  flex-shrink: 0;
}
/* Size image contianer to desired size */
.userImageContainer {
  width: 50px;
  height: 50px;
}
/* Make image width 100 percent to fit into sized image container */
.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
}
/* Styling the textareaContainer */
.textareaContainer {
  flex: 1;
  margin-left: var(--spacing);
}
/* Styling textarea */
.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 16px;
  padding: 5px 5px;
}
/*  styling #submitPostButton */
#submitPostButton {
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 5px 10px;
}
/* when button is disabled  */
#submitPostButton:disabled {
  background-color: var(--blueLight);
}
-